apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - serviceaccount.yaml
  - configmap.yaml
  - deployment.yaml
  - service.yaml
  - hpa.yaml
  - pdb.yaml
  - redis.yaml

commonLabels:
  app.kubernetes.io/name: rate-limiter
  app.kubernetes.io/component: rate-limiting

images:
  - name: rate-limiter
    newTag: latest
