apiVersion: v1
kind: Service
metadata:
  name: rate-limiter
  labels:
    app: rate-limiter
spec:
  type: ClusterIP
  ports:
    - name: http
      port: 8080
      targetPort: http
      protocol: TCP
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
  selector:
    app: rate-limiter
---
apiVersion: v1
kind: Service
metadata:
  name: rate-limiter-headless
  labels:
    app: rate-limiter
spec:
  type: ClusterIP
  clusterIP: None
  ports:
    - name: grpc
      port: 9090
      targetPort: grpc
      protocol: TCP
  selector:
    app: rate-limiter
